{{ $jsHome := resources.Get "js/home.js" | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
<div id="background">
  {{ partial "home/background.html" . }}
</div>
<div id="hero" style="display:none">
  {{ partial "home/hero.html" . }}
</div>
<div id="profile" style="display:none">
  {{ partial "home/profile.html" . }}
</div>
<div id="card" style="display:none">
  {{ partial "home/card.html" . }}
</div>
<div id="page" style="display:none">
  {{ partial "home/page.html" . }}
</div>
<!-- <section class="max-w-7xl mx-auto px-4"> -->
<!--   {{ partial "sponsors.html" . }} -->
<!-- </section> -->

<!-- <section class="max-w-7xl mx-auto px-4"> -->
<!--   {{ partial "contributors.html" . }} -->
<!-- </section> -->

<!-- <section> -->
<!--   {{ partial "recent-articles-demo.html" . }} -->
<!-- </section> -->
<!-- <script -\-> -->
<!-- <\!--   defer -->
<!--   type="text/javascript" -->
<!--   src="{{ $jsHome.RelPermalink }}" -->
<!--   integrity="{{ $jsHome.Data.Integrity }}"></script> -->

<video autoplay loop muted playsinline id="video-bg">
  <source src="{{ "bg-video.mp4" | relURL }}" type="video/mp4">
</video>
<div id="video-overlay"></div>

<div id="JFWebsiteWidget-019d6381c9447526b1a8de4db82e4e042e18"></div>
<script src='https://www.jotform.com/website-widgets/embed/019d6381c9447526b1a8de4db82e4e042e18'>
</script>

<!-- <div id="JFWebsiteWidget-019d2afb77ea775c8f8bd543114593878bf6"></div> -->
<!-- <script src='https://www.jotform.com/website-widgets/embed/019d2afb77ea775c8f8bd543114593878bf6'> -->
<!-- </script> -->

<!-- <\!-- Elfsight Google Reviews | AlisonT Design -\-> -->
<!-- <script src="https://elfsightcdn.com/platform.js" async></script> -->
<!-- <div class="elfsight-app-6803642c-a1b7-46d4-af78-bc616c067cac" data-elfsight-app-lazy></div> -->
